<a href="https://colab.research.google.com/github/Chintan-99/practice/blob/main/hotelbooking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('hotel_bookings.csv')
data.shape

(119390, 32)

In [3]:
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [5]:
data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [6]:
data['country'].nunique()

177

In [7]:
data['company'].value_counts()

40.0     927
223.0    784
67.0     267
45.0     250
153.0    215
        ...
104.0      1
531.0      1
160.0      1
413.0      1
386.0      1
Name: company, Length: 352, dtype: int64

In [8]:
X=data.drop(['reservation_status'], axis=1)
y=data['reservation_status']

In [9]:
columns = X.columns

In [10]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
Si=SimpleImputer(strategy='mean')
SI=SimpleImputer(strategy='most_frequent')
num_col=['agent', 'company']
cat_col=['country']
X[num_col]= Si.fit_transform(X[num_col])
X[cat_col]=SI.fit_transform(X[cat_col])

In [11]:
X1=X.drop(['required_car_parking_spaces', 'total_of_special_requests','reservation_status_date','adr'], axis=1)

In [12]:
X1.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          4
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
dtype: int64

In [13]:
X1.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,102.915247,31.411012,17.594721
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,189.266735,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,28.000000,189.266735,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,152.000000,189.266735,0.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000

In [14]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  float64
 24  company                         119390 non-null  float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
dtypes: float64(3), int64(14), object(10)
memory usage: 24.6+ MB

In [15]:
X1.shape

(119390, 27)

In [16]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         119390 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           119390 non-null  float64
 24  company                         119390 non-null  float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
dtypes: float64(3), int64(14), object(10)
memory usage: 24.6+ MB

In [17]:
X2=X1.drop(X1.columns[[3,4,5,6,7,8,13,14,15,16,17,18,19,20,21,22,25,26]], axis=1)

In [18]:
X2.shape

(119390, 9)

In [19]:
from sklearn.model_selection import train_test_split
x1train,x1test,ytrain,ytest=train_test_split(X2, y, test_size=0.2, random_state=32)
x1train.shape, x1test.shape, ytrain.shape, ytest.shape

((95512, 9), (23878, 9), (95512,), (23878,))

In [20]:
num_cols=['is_canceled','lead_time','adults','children','babies','agent','company']
cat_cols=['hotel','meal']
from sklearn.preprocessing import StandardScaler
SSC=StandardScaler()
SSC.fit_transform(x1train[num_cols])

array([[-0.76745034,  0.65377146,  0.2463921 , ..., -0.08353875,
        -0.75595222,  0.00231361],
       [ 1.30301591,  0.10170592, -1.47288039, ..., -0.08353875,
        -0.44491997,  0.00231361],
       [-0.76745034,  1.34619264,  0.2463921 , ..., -0.08353875,
        -0.27968409,  0.00231361],
       ...,
       [ 1.30301591,  1.60818985,  0.2463921 , ..., -0.08353875,
        -0.83371028,  0.00231361],
       [-0.76745034,  0.43855947,  0.2463921 , ..., -0.08353875,
        -0.483799  ,  0.00231361],
       [ 1.30301591, -0.57200118,  0.2463921 , ..., -0.08353875,
         1.48931182,  0.00231361]])

In [21]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
from sklearn.compose import ColumnTransformer
c_ohe=ColumnTransformer([('nums', 'passthrough', num_cols),
                         ('cats', ohe, cat_cols)])
xtrain_=c_ohe.fit_transform(x1train)

In [22]:
pd.DataFrame(xtrain_).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,174.0,2.0,0.0,0.0,9.0,189.266735,1.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,115.0,1.0,0.0,0.0,41.0,189.266735,1.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,248.0,2.0,0.0,0.0,58.0,189.266735,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,19.0,2.0,0.0,0.0,9.0,189.266735,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,288.0,2.0,0.0,0.0,1.0,189.266735,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [23]:
from sklearn.preprocessing import StandardScaler
SSC=StandardScaler()
SSC.fit_transform(x1test[num_cols])

array([[ 1.30650271, -0.913022  ,  0.25408893, ..., -0.07594393,
         1.49099015, -0.00911053],
       [-0.76540216, -0.65091459,  0.25408893, ..., -0.07594393,
         1.49099015, -0.00911053],
       [-0.76540216, -0.88493906, -1.50144796, ..., -0.07594393,
        -0.70232331, -0.00911053],
       ...,
       [ 1.30650271,  0.65026146,  0.25408893, ..., -0.07594393,
        -0.47910999, -0.00911053],
       [-0.76540216,  0.03243686,  0.25408893, ..., -0.07594393,
        -0.75084794, -0.00911053],
       [-0.76540216, -0.66027557,  0.25408893, ..., -0.07594393,
        -0.75084794, -0.00911053]])

In [24]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
OHE=OneHotEncoder()
C=ColumnTransformer([('nums','passthrough',num_cols),
                      ('cats', OHE, cat_cols)])
x2test=C.fit_transform(x1test)

In [25]:
pd.DataFrame(x2test).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,6.0,2.0,0.0,0.0,240.0,189.266735,0.0,1.0,1.0,0.0,0.0,0.0,0.0
1,0.0,34.0,2.0,0.0,0.0,240.0,189.266735,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,0.0,9.0,1.0,0.0,0.0,14.0,189.266735,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1.0,14.0,1.0,0.0,0.0,9.0,189.266735,1.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,96.0,2.0,1.0,0.0,15.0,189.266735,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [26]:
y.shape, x2test.shape, ytrain.shape, ytest.shape

((119390,), (23878, 14), (95512,), (23878,))

In [27]:
ztest=pd.DataFrame(x2test)
zt=ztest.drop([3], axis=1, inplace=True)

In [28]:
ztest.shape

(23878, 13)

In [29]:
xtrain_.shape

(95512, 14)

In [30]:
pd.DataFrame(xtrain_).isnull().sum()

0     0
1     0
2     0
3     4
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64

In [31]:
pd.DataFrame(xtrain_).isnull().sum()
z=pd.DataFrame(xtrain_)
z1=z.drop([3], inplace=True, axis=1)

In [32]:
pd.DataFrame(z).isnull().sum()

0     0
1     0
2     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
dtype: int64

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
clf=DecisionTreeClassifier()
cross_val_score(clf, z,ytrain,cv=5)

array([0.98890227, 0.98989687, 0.98869228, 0.98843053, 0.98921579])

In [34]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier(max_depth=7, random_state=32)
clf.fit(z,ytrain)
clf.score(z,ytrain)

0.9901583047156378

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
import warnings
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
clf1=LogisticRegression()
clf2=RandomForestClassifier()
clf3=GaussianNB()
eclf=VotingClassifier(estimators=[('lr', clf1), ('RFC', clf2), ('GB', clf3)], voting='hard')
eclf.fit(z,ytrain)
eclf.score(z,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

0.9901164251612363